################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Aspose.PSD-Documentation/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/Aspose.PSD-Doс/v16/.suo
/.vs/Aspose.PSD-Doс/v16/TestStore/0/testlog.manifest
/.vs/Aspose.PSD-Doс/v16/TestStore/0/000.testlog
/.idea/
/.vs/hugo-content-psd/v16/.suo
/.vs/hugo-content-psd/v16/TestStore/0
*.suo
/.vs/hugo-content-psd/v17
/.vs
/Folder.DotSettings.user
